.chapterComponent {
    .itemSide {
        padding: 0 5rem;

        $border-general: 2px;
        border: $border-general solid rgba(0, 0, 0, 0);

        &:hover {
            border: $border-general solid #f1f1f1;
            background-color: #f9f9f9;
        }
        &>* {
            flex-grow: 1;
        }
    }

    .singleSide {
        display: flex;
    }

    .doubleSide {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "left right";

        &:first-child {
            grid-area: left;
        }

        &:nth-child(2) {
            grid-area: right;
        }
    }

    .chapterTitle {
        font-size: 1.5em;
    }

    .sideSwitch {
        display: flex;
    }
}

.emptyItem {
    border: 2px solid #888;
    border-radius: 10px;
}