.ChapterOverview {
    
    color: #666666;
    font-size: 1em;

    h2 {
        font-size: 1em;
    }

    .chapters-list{
        display: flex;
        flex-direction: column;
        gap: 0.5em
    }



}