.layoutContainer {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 2em;
    grid-template-columns: 20em auto;
    grid-template-areas: "sidebar content" " sidebar footer";


    .footer {
        grid-area: footer;
    }

    .sidebar {
        grid-area: sidebar;
        height: 100vh;
        position: fixed;
        top: 0;
        min-width: 20em;
        border-right: 1px solid #eee;  
        background-color: #F7F7F5;
    }

    .content {
        grid-area: content;
    }
}