.projectHeaderComponent {
    padding: 1em;
    padding-left: 5rem;

    .header {
        margin:0;
        font-size: 2rem;
        font-weight: bold !important;
        padding-bottom: 0.2em;
       
    }

    .header * {
        font-weight: lighter;
        font-size: 2rem;
    }

    .description {
        font-size: 1rem;
        color: #888;
    }
}