.projectHeaderComponent {
    padding: 1em;

    .header {
        margin:0;
        font-size: 2rem;
        font-weight: lighter !important;
        padding-bottom:0.2em;
    }

    .header * {
        font-weight: lighter;
        font-size: 2rem;
    }

    .description {
        font-size: 1rem
    }
}