.itemSideComponent {
    .ql-container {
        all: unset;
        position: relative;
    }

    .ql-editor {
        padding: 0;
    }

    .quill-editor {
        height: 100%;
    }

    .error-state {
        border: 3px solid #FF6347;
        border-radius: 10px;
        box-sizing: 'border-box';
        //   background-color: red;
    }

    .locked {
        background-color: red;
    }

   
}