.itemQaContentComponent {
    min-width: 25vw;

    .acceptButtons {
        display: flex;
        justify-content: space-between;
        padding-top: 1em;

        .examples {
            display: flex;
            gap: 1em;
        }
    }
}