.mainView {

    display: flex;
    height: 100%;
    flex-direction: column;
    padding-top: 2em;

    .notesPane {
        background-color: red;
    }

    .contentPane {
        width: 100%;
        height: 100%;
    }


    .mainViewHeader {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-size: large;
        // border-bottom: 1px #ddd solid;
        color: #888;

        .StepIndicator {
            width: 100%;
            height: 0.3em;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: "idea outline final";

            .view {
                background-color: green;
            }

            .idea {
                grid-area: idea;
            }

            .outline {
                grid-area: outline;
            }

            .final {
                grid-area: final;
            }
        }
        .viewIndicator{
            padding: 0.4em;
        }
        .headerElements {
            position: fixed;
            top: 0;
            left: 0;
            background-color: white;
            z-index: 100;
            width: 100%;

            .topRow {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }

            .sidebarButton {
                grid-area: left;
                font-size: 1.5em;

                &>* {
                    color: #ddd;
                }
            }

            .sidebarButton:hover {
                &>* {
                    color: #333;
                }
            }

            .projectName {
                grid-area: middle;
                text-align: center;
                justify-content: center;
                margin: 0;

                & * {
                    text-align: center;
                }
            }

            .buttons {
                grid-area: right;
                display: flex;
                justify-content: end;
                gap: 0.5em;
                padding-right: 1em;
            }
        }
    }
}