.loginView {

    display: flex;
    flex-direction: column;
    align-items: center;


    height: 100%;
    .logo {
        width: 5em;
        padding-bottom: 1em;
    }
    .textInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5em;
        align-content: stretch;
        box-sizing: border-box;

        .appName {
            font-size: 3em;
            // font-family: serif;
        }

        .appDescription {
            color: #888;
            font-size: 1.5em;
        }
    }

    h1 {
        font-weight: 200;
        padding: 1em;
    }

    .loginCard {
        border: 1px solid #ccc;
        box-shadow: 0 0 2em 2em #eee;
    }
    .loginButton{
        display: flex;
        justify-content: center;
    }
    .loginForm {
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        align-content: stretch;

        background-color: #f7f7f5;
    }

    .oauthLogins {
        display: flex;
        flex-direction: column;
        padding: 1em;
        gap: 1em;
    }
}