.loginView {

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width:900px) {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas: "login img .";
        overflow-y: hidden;
    }

    height: 100%;

    .img {
        background-color: #ddd;
        min-height: 100%;
        grid-area: img;
        min-width: 100%;
        overflow: auto;
        box-sizing: border-box;
        padding: 1em;

        display: flex;
        flex-direction: column;

        @media (min-width:900px) {
            padding: 5em;
        }
    }

    .textInfo {
        padding: 5em;
        align-content: stretch;
        box-sizing: border-box;

        .appName {
            font-size: 3em;
            font-family: serif;
        }

        .appDescription {
            color: #888;
            font-size: 1.5em;
        }
    }

    h1 {
        font-weight: 200;
        padding: 1em;
    }

    .paragraph {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "paragraph";

        cursor: default;

        * {
            grid-area: paragraph;
        }

        .text {
            opacity: 1;
            transition: opacity 0.2s ease-in-out; // Add transition
        }

        .outline {
            opacity: 0;
            transition: opacity 0.2s ease-in-out; // Add transition
        }

        &:hover {
            .text {
                opacity: 0;
            }

            .outline {
                opacity: 1;
            }
        }
    }

    .loginForm {
        box-sizing: border-box;
        grid-area: login;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        align-content: stretch;

        background-color: #ddd;

        @media (min-width:900px) {
            padding: 5em;
            position: sticky;
        }

        .loginCard {
            @media (min-width:900px) {
                position: absolute;
            }
        }

        .formElement {
            width: 100%;
        }
    }
}